.doc-content {
  padding: 20px;

  h1 {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: normal;
  }

  h2 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: normal;
  }

  h3 {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
  }

  h1,
  h2,
  h3 {
    color: var(--doc-emphasis-color);
  }

  p {
    margin: 0 0 15px;
  }

  @at-root {
    .doc-card {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      background-color: var(--doc-emphasis-bg);

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .doc-demo {
      margin-bottom: 15px;
    }

    .doc-anchor {
      padding: 0 5px;
      font-weight: 400;
      color: var(--doc-primary);
      text-decoration: none;
      opacity: 0;
      transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;

      &:focus,
      &:hover,
      :hover > &,
      :target > & {
        opacity: 1;
        color: var(--doc-primary);
        text-decoration: none;
      }
    }

    .doc-section {
      &:last-child {
        .doc-card:last-child {
          margin-bottom: 0;
        }
      }
    }

    .doc-table-responsive {
      overflow-x: auto;
    }
  }

  table {
    width: 100%;
    margin-top: 12px;
    color: var(--doc-body-color);
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;

    th {
      padding: 8px 10px;
      font-weight: 600;
      text-align: left;
    }

    th:first-child {
      padding-left: 0;
    }

    th:last-child {
      padding-right: 0;
    }

    td {
      padding: 8px;
      border-top: 1px solid var(--doc-border-color);
    }

    td:first-child {
      padding-left: 0;
    }

    td:first-child code {
      margin: 0;
      padding: 2px 6px;
      color: var(--doc-primary);
      font-weight: 600;
      font-size: 11px;
      background-color: rgba(25, 137, 250, 0.1);
      border-radius: 20px;
    }

    td:last-child {
      padding-right: 0;
    }

    em {
      display: inline-block;
      color: #4fc08d;
      font-size: 14px;
      font-family: Source Code Pro, Monaco, Inconsolata, monospace;
      font-style: normal;
      max-width: 300px;
      -webkit-font-smoothing: auto;
    }

    code {
      display: inline;
      margin: 0 2px;
      padding: 2px 5px;
      font-size: 14px;
      font-family: inherit;
      font-weight: 600;
      word-break: keep-all;
      border-radius: 4px;
      -webkit-font-smoothing: antialiased;
    }
  }
}
