@import '../style/variables.scss';

// #variables
// #endvariables
.s-collapse {
  position: relative;
  width: 100%;
  transition: height 300ms;

  &:not(.s-collapse-show) {
    position: absolute;
    z-index: -10;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  &.s-collapse-collapsing {
    overflow: hidden;
  }
}
